
warehouse/snowflake/games_elt/target/
warehouse/snowflake/games_elt/.user.yml
warehouse/snowflake/games_elt/logs/
warehouse/snowflake/games_elt/profiles.yml
warehouse/snowflake/games_elt/dbt_project.yml
warehouse/snowflake/games_elt/.env